<header class="barre-de-navigation">
    <div class="row z-depth-1">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6">
                    <a class="active" href="#conversations">
                        <p><i class="material-icons">chat_bubble_outline</i></p>
                        Conversations
                    </a>
                </li>
                <li class="tab col s6">
                    <a href="#qui-est-en-ligne">
                        <p><i class="material-icons">group</i></p>
                        Qui est en ligne ?
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="deconnexion">
        <a href="{{ path('fos_user_security_logout') }}" ><i class="material-icons">exit_to_app</i></a>
    </div>
</header>